html, body {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Arial';
}

body * {
  box-sizing: inherit;
}

button {
  cursor: pointer;
}
